<div style="height:500px;width:100%;max-width:100%;list-style:none; transition: none;overflow:hidden;"><div id="google-maps-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=<%=@location.try(:name)%>+<%= @country %>&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="google-map-enabler" rel="nofollow" href="https://www.interserver-coupons.com" id="make-map-information">interserver-coupons.com</a><style>#google-maps-display img{max-width:none!important;background:none!important;}</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=cbd445ed-c5aa-ccdd-17cd-f1fd503d4af8&c=google-map-enabler&u=1476357114" defer="defer" async="async"></script>

