 <div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="list-group">
      <a href="#" class="list-group-item disabled">
        Locations
      </a>
      <% if @locations.present? %>
        <% @locations.each do |location| %>
          <a href="<%= location_path(location) %>" class="list-group-item"><%= location.name %></a>        
        <% end %>  
      <% end %>  
    </div>
  </div>  
</div>


