<div class="row col-sm-11 col-sm-offset-1">
  <div class="mainbox col-md-4" style="margin-top:50px;" id="loginbox">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Search Location</div>
      </div>     
      <div class="panel-body" style="padding-top:30px">
        <%= form_tag locations_path, method: :post, class: "form-horizontal", remote: true do %>       
          <div style="margin-bottom: 25px" class="col-md-6">
            <%= text_field_tag :address, nil, class: "form-control", onkeyup: "initialize();"%>                
          </div>
                
          <div class="form-group col-md-2">
            <%= submit_tag "Search", class: "btn btn-primary"%>
          </div> 
        <% end %>     
      </div>                     
    </div>  
  </div>  
  <div id="map" class="col-sm-6">
    <%= render partial: '/locations/embeded_map'%>
  </div>
</div>

<script type="text/javascript">
  
</script>