<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/locations">Geo Location</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/locations">Index</a></li>
      <li><a href="/locations/new">Search Location</a></li>      
    </ul>
  </div>
</nav>